/*Shopping Cart features */

.btn-group {
    position: relative;
    text-align: center;
    float: right;
    right: 300px;
}

/* Eventually want to make the enroll button maroon to match the theme of the site
.enroll{
    background: #800000;
}
*/

.enrolledClasses {
    position: relative;
    left: 250px;
    top: 10px;
    font-size: 27px;
}

#enrolledClassesTable {
    position: relative;
    top: 500px;
    
}

.table{
    position: relative;
    left: 230px;
    max-width: 60%;
    table-layout: fixed;
    word-wrap: break-word;
    border: #800000;
    border-width: 5px;
    text-align: center;
}

/*Eventually change table header to maroon
thead th {
    background-color: #800000;
    color: white;
}
*/

th {
 background: #801515;

}
