{% extends "base_generic.html" %}

{%block content%}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Add A Review</h1>
	         </div>
	    	<dl class="info">
                <form action="/your-name/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
		</dl>
		
{% endblock %}