
{% extends 'base_generic.html'%}
{% block content%}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Class Search</h1>
           </div>

<!-- ----------------------------SEARCH PAGE AREA---------------------------------------- --> 
                <div class = "container">
          <div class = "row ">
              <div class = "col-md-7">
                <div class = "card">
                    <div class ="card-header">
<!-- ----------------------------TABULAR AREA FOR SEARCH---------------------------------------- -->      
  <!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="major-tab" data-toggle="tab" href="#major" role="tab" aria-controls="major" aria-selected="false">Major</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="gened-tab" data-toggle="tab" href="#gened" role="tab" aria-controls="gened" aria-selected="false">Gen-Ed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="recommendation-tab" data-toggle="tab" href="#recommendation" role="tab" aria-controls="recommendation" aria-selected="false">Recommendations</a>
  </li>
</ul>
                        </div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="general" role="tabpanel" aria-labelledby="general-tab">
    <!-- ------------------------------------------CRITERIA---------------------------------------- --> 
      <div class = "row top-buffer">
          <div class = "col-md-3"> <p> Search criteria: </p></div>
          <div class = "col-md-4"> 
            <!--<div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown test
                </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Some stuff</a>
                        <a class="dropdown-item" href="#">Other stuff</a>
                        <a class="dropdown-item" href="#">More stuff</a>
                    </div>
              </div>-->
            </div>
      </div>
<!-- ----------------------------EXACT------------------------------------------------------- -->
                <div class = "row top-buffer">
          <div class = "col-md-3"><p> Class Number</p></div>
          <div class = "col-md-4">
              <div class="form-group">
                    <input type="text" class="form-control" id="class-num">
              </div>
          </div>
          </div>
<!-- ----------------------------SUBJECT------------------------------------------------------- --> 
      <div class = "row top-buffer">
          <div class = "col-md-3"><p> Course Subject</p></div>
          <div class = "col-md-8">
            <div class="form-group">
                    <select class="form-control" id="subject">
                        <option>...</option>
                        <option>Accounting</option>
                        <option>Aerospace Studies</option>
                        <option>Afro-American Studies</option>
                        <option>Animal Science </option>
                        <option>Anthropology </option>
                        <option>Arabic </option>
                        <option>Architecture </option>
                        <option>Architechture and Design </option>
                        <option>Art </option>
                        <option>Art-Student Teaching </option>
                        <option>Art History </option>
                        <option>Arts Extension</option>
                        <option>Asian Studies </option>
                        <option>Astronomy </option>
                        <option>Bachelor's Deg W/ Indiv Conc.</option>
                        <option>Biochemistry & Molec. Bio</option>
                        <option>Biology</option>
                       <option> Biology @ MIC</option>
                       <option> Biomedical Engineering</option>
                    </select>
            </div>
          </div>
          </div>
<!-- ----------------------------COURSE #------------------------------------------------------- -->
                <div class = "row top-buffer">
          <div class = "col-md-3"><p> Course Number</p></div>
          <div class = "col-md-4">
            <div class="form-group">
                    <select class="form-control" id="course-spec">
                        <option>is exactly</option>
                        <option>starts with</option>
                        <option>greater than equal to</option>
                        <option>contains</option>
                    </select>
            </div>
            </div>  
              <div class = "col-md-4">
                    <div class="form-group">
                            <input type="tex t" class="form-control" id="course-num">
                    </div>
              </div>
          </div>
<!-- -----------------------------KEYWORD------------------------------------------- -->
                <div class = "row top-buffer">
          <div class = "col-md-3"><p> Course Keyword</p></div>
          <div class = "col-md-6">
            <div class="form-group">
                            <input type="text" class="form-control" id="course-keyword">
                    </div>
          </div>
          </div>          
<!-- -----------------------ADVANCED SEARCH------------------------------------------------------>
    <div class ="row- top-buffer">
        <div class = "col-md-12">

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Advanced</a>
      </h6>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
<!-- ------------------------------------------------------------------------------------------->
        <div class = "row top-buffer">
          <div class = "col-md-3"><p> Career Type:</p></div>
          <div class = "col-md-8">
            <select id="sel-cat" class="form-control">
                <option >Choose...</option>
                <option>Graduate </option>
                <option>Non-Credit </option>
                <option>Non-Degree</option>
                <option>Undergraduate</option>
          </select>
          </div>
          </div> 
<!-- ------------------------------------------------------------------------------------------->
        <div class = "row top-buffer">
          <div class = "col-md-3"><p> Instructor Name:</p></div>
            <div class = "col-md-4">
            <select id="sel-inst" class="form-control">
                <option selected>begins with</option>
                <option>contains</option>
                <option>is exactly</option>
          </select>
          </div>
          <div class = "col-md-4"> <div class="form-group"> <input type="text" class="form-control" id="course-keyword"> </div> </div>
          </div> 
<!-- ------------------------------------------------------------------------------------------->
        <div class = "row top-buffer">
          <div class = "col-md-3"><p> Credit Amount:</p></div>
          <div class = "col-md-8">
            <select id="sel-cred" class="form-control">
                <option >Choose...</option>
                <option>1 credit</option>
                <option>1.5 credits</option>
                <option>2 credits </option>
                <option>3 credits</option>
                <option>4 credits</option>
          </select>
          </div>
          </div> 
<!-- ------------------------------------------------------------------------------------------->
        <div class = "row top-buffer">
          <div class = "col-md-3"><p style="font-size: 13px;"> Mode of Instruction:</p></div>
          <div class = "col-md-8">
            <select id="sel-mode-instruction" class="form-control">
                <option>Choose...</option>
                <option>Blended</option>
                <option>In Person</option>
                <option>Indep Study/Research</option>
                <option>Online</option>
                <option>Online Plus in Person</option>
          </select>
          </div>
          </div> 
<!-- ------------------------------------------------------------------------------------------->
        <div class = "row top-buffer">
          <div class = "col-md-3"><p> RAP/TAP/HLC:</p></div>
          <div class = "col-md-8">
            <select id="sel-RAP" class="form-control">
                <option selected>Choose...</option>
          </select>
          </div>
          </div> 
<!-- ------------------------------------------------------------------------------------------->
        <div class = "row top-buffer">
          <div class = "col-md-3"><p> CPE Program:</p></div>
          <div class = "col-md-8">
            <select id="sel-CPE" class="form-control">
                <option>Choose...</option>
                <option>Accounting MS</option>
                <option>Accounting Transitions Program</option>
                <option>Aging Po and Pub Hlth Cert</option>
                <option>Amer Eng Ling Cert</option>
                <option>Arts Mgmt Certificate</option>
                <option>Bus Analytics Grad Cert Online</option>
                <option>Bus Analytics Ugrd Cert Online</option>
                <option>Casino Mgmt Cert Online</option>
                <option>Clinical Nurse Leader MS</option>
                <option>College Teaching Certificate</option>
          </select>
          </div>
          </div> 
<!-- ------------------------------------------------------------------------------------------->
          
        </div>
    </div>
  </div>
</div>
            </div>
      </div>  
<!-- --------------------------------SEARCH BUTTON----------------------------------------- -->
                <div class = "row top-buffer">
                    <div class = "col-md-3 bottom-marg">
                    <button type="button" class="btn btn-success">Search</button>
                        </div>
      </div>    
<!-- ------------------------------------------------------------------------------------------->
    </div>
    
    
<!--------------------------- MAJOR SEARCH CRITERIA---------------------------------------------->
  <div class="tab-pane" id="major" role="tabpanel" aria-labelledby="major-tab">
    <div class = "row top-buffer">
          <div class = "col-md-3"> <p> Search criteria: </p></div>
      </div>
      
 <!-- -------------------------------------------------------------------------------------------- -->      
          <div class = "form-row top-buffer">
          <div class = "col-md-3"> <p> Select Your Major: </p></div>
              <div class="form-group col-md-6">
      <select id="sel-major" class="form-control">
        <option selected>Choose...</option>
        <option>Computer Science (B.S)</option>
        <option>Math (B.S) </option>
      </select>
    </div>
    </div>
 <!-- -------------------------------------------------------------------------------------------- -->
      <div class="row" style="padding: 18px;">
          <div class ="col-md-11">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Course Checklist
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Course Checklist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <img src="img/cs-tracker.png" alt="CS TRACKING">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
                </div>
          </div>
          </div>

      <div class = "form-row top-buffer">
          <div class="col-md-3">Select Category:</div> 
          <div class ="col-md-6">
          <select id="sel-cat" class="form-control">
            <option selected>Choose...</option>
            <option>Introductory Courses</option>
            <option>Core Course </option>
            <option>Mathematics </option>
            <option>300-Elective </option>
            <option> 400-Elective</option>
            <option>Outside Elective</option>
          </select>
          </div>
      </div>
      <div class = "form-row top-buffer">
          <div class="col-md-3">Course Keyword:</div> 
          <div class ="col-md-6">
              <input type="text" class="form-control" id="class-num">
          </div>
      </div>
<!-- --------------------------------SEARCH BUTTON----------------------------------------- -->
                <div class = "row top-buffer">
                    <div class = "col-md-3 bottom-marg" style="padding-bottom: 28px;"> <button type="button" class="btn btn-success">Search</button> </div>
      </div>
 <!-- -------------------------------------------------------------------------------------------- -->
          </div>
    
<!-- GEN-ED SEARCH CRITERIA-->
  <div class="tab-pane" id="gened" role="tabpanel" aria-labelledby="gened-tab">
    <div class = "row top-buffer">
          <div class = "col-md-3"> <p> Search criteria: </p></div>
      </div>
      <div class = "row">
            <!-- Button trigger modal -->
<div class = "col-md-11" style="padding: 16px;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Gen-Ed Requirement Tracker
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gen-Ed Checklist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        THIS WILL HOLD A CHECKLIST FOR GEN-ED CLASSES
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      </div>
          </div>
      <div class = "row top-buffer">
        <div class = "col-md-3">
          Gen-Ed Subject:
          </div>
          <div class = "col-md-6">
                   <div class="form-group">
                    <select class="form-control" id="course-spec">
                        <option>...</option>
                        <option>AL: Literature</option>
                        <option>ALDG: Literature/Diversity: Gloabl</option>
                        <option>ALDU: Literature/Diversity: U.S.</option>
                        <option>AT: Art Requirement</option>
                        <option>ATDGL: Arts/Diversity: Global</option>
                        <option>ATDU: Arts/Diversity U.S. </option>
                        <option>BS: Biological Science</option>
                        <option>CW: Freshman Writing</option>
                        <option>DG: Diversity: Global </option>
                        <option>DU: Diversity: U.S. </option>
                        <option>HS: Historical Studies </option>
                        <option>HSDG: Historical Studies/Diversity: Global </option>
                        <option>HSDU: Historical Studies/Diversity: U.S.</option>
                        <option>I: Interdisplinary</option>
                    </select>
            </div>
          </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-3">
          Gen-Ed Keyword:
          </div>
          <div class="col-md-6">
              <input type="text" class="form-control" id="class-num">
          </div>
      </div>
      
      <!-- --------------------------------SEARCH BUTTON----------------------------------------- -->
                <div class = "row top-buffer">
                    <div class = "col-md-3 bottom-marg" style="padding-bottom: 87px;"> <button type="button" class="btn btn-success">Search</button> </div>
      </div>
 <!-- -------------------------------------------------------------------------------------------- -->
    </div>
<!-- RECOMMENDATION SEARCH CRITERA -->
  <div class="tab-pane" id="recommendation" role="tabpanel" aria-labelledby="recommendation-tab">
    <div class = "row top-buffer">
          <div class = "col-md-2"> <p> Search criteria: </p></div>
          <div class = "col-md-2"> 
            <!--<div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown test
                </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Some stuff</a>
                        <a class="dropdown-item" href="#">Other stuff</a>
                        <a class="dropdown-item" href="#">More stuff</a>
                    </div>
              </div>-->
            </div>
      </div>
    </div>
</div>
      </div>
    </div>      <!-- for the col-->
                <div class = "col-md-5">
                    <div class="card">
                        <div class="card-header" style="padding:20px;">
                            Times
                        </div>
                        <div class = "row" style="margin-top: 52px;">
                            <div class = "col-auto" style="padding-left: 22px;"> Meeting Time: </div>
                            <div class = "col-auto" style="padding-left: 66px;">Between </div>
                        </div>
                        <div class = "form-row top-buffer align-center" style="padding-bottom: 62px;">
                            <div class = "col-1"></div>
                            <div class = "col-auto"><input type="text" class="form-control-auto" id="time-start"></div>
                            <div class = "col-auto" style="text-align: center;"> and </div>
                            <div class = "col-auto"><input type="text" class="form-control-auto" id="time-start"></div>
                        </div>
                        
                        
                        
                        <div class = "row top-buffer">
                        <div class = "col-md-4" style="text-align: center;"> Day of Week:</div>
                        <div class = "col-md-6"> 
                        <select class="form-control-sm" id="subject">
                        <option>include only these these days</option>
                        <option>include only any of these days</option>
                        <option>exclude any of these days</option>
                        <option>exclude only these days</option>
                        
                    </select></div>
                            <div class = "row top-buffer"></div>
                             <div class = "row top-buffer"></div>
                                  <div class = "row top-buffer"></div>
                                       <div class = "row top-buffer"></div>
                                            <div class = "row top-buffer"></div>
                                                
                        </div>
                        <div class = "row top-buffer" style="padding-bottom: 141px;">
                        <div class ="col-md-12">
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Mon</label>
                            </div>
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Tues</label>
                            </div>
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">Wed</label>
                            </div>
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
    <label class="form-check-label" for="inlineCheckbox4">Thurs</label>
                            </div>
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
    <label class="form-check-label" for="inlineCheckbox5">Fri</label>
                            </div>
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
    <label class="form-check-label" for="inlineCheckbox6">Sat</label>
                            </div>
                            <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
    <label class="form-check-label" for="inlineCheckbox7">Sun</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          </div>
            {% endblock %}
